@use "variables" as *;

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  .landing__figure {
    display: flex;
    min-width: 400px;
    margin: 10px auto 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .landing__figcaption {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }
  }
  .landing__button {
    background: $vegetta-color;
    border: none;
    border-radius: 30px;
    width: 350px;
    height: 50px;
    margin-top: 100px;
  }
}
