@use "variables" as *;

.description {
  width: 100%;
  min-height: 100vh;
  background: url(../assets/background.svg) no-repeat;
  background-size: cover;
  position: relative;
  .description__main {
    position: absolute;
    top: 50%;
    background: $page-color;
    min-height: 50vh;
    border-radius: 24px 24px 0 0;
    padding: 20px;
  }
  .description__image {
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 30px;
    min-height: 50vh;
    img {
        min-height: 200px;
        min-width: 200px;
    }
  }
  .description__title {
    font-size: 24px;
    color: $font-color1;
    margin-bottom: 10px;
  }
  .description__title2 {
    font-size: 14px;
    color: $font-color3;
    font-weight: normal;
  }
  .gap-5 {
    gap: 5px;
  }
  .description__lists {
    gap: 30px;
    .description__figure {
        align-items: center;
        margin: 15px 0;
      .description__figure__icon {
        margin-right: 10px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        width: 40px;
        height: 40px;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
      }
      .description__caption {
        color: $font-color2;
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
  .description__text {
    color: #9E9E9E;
    line-height: 24px;
  }
}
