@use "variables" as *;

.home__footer {
    position: sticky;
    bottom: 0;
    height: 105px;
    background-color: $page-color;
    padding: 20px;
  border-radius: 20px 20px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    5px 5px 10px rgba(170, 170, 204, 0.25),
    10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px rgb(255, 255, 255);
  .home__footer_icons {
    display: flex;
    justify-content: space-around;
  }
  .home__footer__icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    svg {
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
}
