.home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 20px;
}

.spacebetween {
  display: flex;
  gap: 10px;
}

.svg {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  .location__svg {
    width: 16px;
    height: 16px;
  }
  .arrow__svg {
    width: 12px;
    height: 12px;
  }
}

.bell {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f9;
  border-radius: 24px;
  box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px rgba(170, 170, 204, 0.25),
    10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #ffffff;
}

.profile {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 44px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
