.main__navlinks {
    margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 25px;
  .main__navlink {
    width: 76px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}
