@use "header";
@use "main";
@use "footer";
@use "components";
@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $page-color;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  font-family: $page-font;
}
